
*.kate-swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

/autom4te.cache
/aclocal.m4
/m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/configure.scan
Makefile.in
Makefile

.deps

/config.*

/src/eacsmb


# ignore the external libs for now, i'll figure something out later for it
/src/c3dlas 
#/src/text #merged into this project for now 
